@mixin montserrat($size, $weight, $style: normal) {
  font-family: "Montserrat", sans-serif;
  font-size: $size;
  font-weight: $weight;
  font-style: $style;
}

@mixin animation-scale-in {  
  @keyframes scale-in-ver-top {
    0% {
      transform: scaleY(0);
      transform-origin: top;
    }
    100% {
      transform: scaleY(1);
      transform-origin: top;
    }
  }
}

@mixin form-group {
  .form-group {
    margin-bottom: 15px;

    .form__label {
      @include montserrat($h5, 400);
    }
    .form__input {
      @include montserrat($h5, 400);
      border: 1px solid $secondary;
      margin: 5px 0;
      padding: 4px 6px;
    }
  }

  .form-group--error {
    .form__label {
      color: red;
    }
    .form__input {
      border-color: red;
    }
    .form__error {
      @include montserrat($h6, 400);
      color: red;
    }
  }
}